<script type='text/javascript'>
$(function() {
<script src="Chart.js"></script>

<div class="gridster">
  <ul>
  	

<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
  <div data-id="my-table" data-view="Table" data-title="Table Title" data-moreinfo="More information about this table"></div>
</li>

<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
  <div data-id="polarchart" data-view ="PolarChart" data-title="Polar Chart" data-moreinfo="Using segmentShowStroke: true"></div>
</li>

 <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
  <div data-id="barchart" data-view ="BarChart" data-left-margin="5" data-top-margin="10"></div>
</li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="linechart" data-view ="LineChart" data-title="Line Chart" data-moreinfo=""></div>
</li>

<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
  <div data-id="piechart" data-view ="PieChart" data-title="Pie Chart" data-moreinfo="Using segmentShowStroke: true"></div>
</li>


<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
  <div data-id="radarchart" data-view ="RadarChart" data-left-margin="5" data-top-margin="10"></div>
</li>
 

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="water_main_city" data-view="Sparkline" data-title="Water Consumed" data-moreinfo="Main City" data-graphtype="lineplot" data-suffix=" l/h"></div>
</li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Aging_AR_INS_COL" data-view="list" data-title="AR OVER 90" data-moreinfo="Aging AR" data-prefix="$"></div>

  </ul>
</div>